<!doctype html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <title>Document</title>
</head>
<body>

    <div class="container">

        <div class="img-container">
            <img id="back" src="{% static 'imgs/str1.jpg' %}" alt="">
            <h1 id="title">Развитие жилищного строительства на территории южной зоны Амурской области</h1>
        </div>

        <div class="data-list">
            <div>
                <h1 class="users">Актуальность</h1>
                <div class="acts">
                    <div class="act-group">
                        <div class="act">
                            <p>Указ Президента Российской Федерации от 07.05.2024 № 309 "О национальных целях развития Российской Федерации на период до 2030 года и на перспективу до 2036 года"</p>
                        </div>
                        <div class="act">
                            <p>Региональный проект «Жильё»</p>
                        </div>
                        <div class="act">
                            <p>Устойчивое сокращение непригодного для проживания жилищного фонда;</p>
                        </div>
                    </div>

                    <div class="act-group">
                        <div class="act">
                            <p>Строительство нового жилья (МКД, ИЖС) на территории южных МО осуществляется низкими темпами или не осуществляется вовсе. Чтобы выполнить показатели национальной цели, необходимо ежегодно строить жилье, последовательно в каждом МО по несколько объектов для обеспечения объемами застройщиков и равномерного распределения субсидий региона по годам.</p>
                        </div>
                        <div class="act">
                            <p>Национальная цель: «Комфортная и безопасная среда для жизни»</p>
                        </div>
                    </div>

                    <div class="act-group">
                        <div class="act">
                            <p>Обновление к 2030 году жилищного фонда не менее чем на 20 процентов по сравнению с показателем 2019 года;</p>
                        </div>
                        <div class="act">
                            <p>Повышение доступности жилья на первичном рынке;</p>
                        </div>
                        <div class="act">
                            <p>Обеспечение граждан жильем общей площадью не менее 33 кв. метров на человека к 2030 году и не менее 38 кв. метров к 2036 году;</p>
                        </div>
                    </div>

                    <div class="act-group">
                        <div class="act">
                            <p>Постановление Правительства Амурской области от 07.07.2021 № 454 «Об утверждении концепции жилищного строительства в Амурской области на период 2021 - 2030 годов»</p>
                        </div>
                        <div class="act">
                            <p>Снизить стоимость строительства, задействовав местных производителей стройматериалов.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="targets">
                <div class="t1">
                    <h1 class="ttilte">Целеполагания проекта</h1>
                    <ul>
                        <li>Обеспечить новым арендным жильём привлекаемых специалистов;</li>
                        <li>Обеспечить жильем детей-сирот и граждан, переселяемых из ветхого и аварийного жилья;</li>
                        <li>Создать возможность приобретения нового жилья при помощи льготных ипотек;</li>
                        <li>Снизить себестоимость строительства жилья;</li>
                        <li>Дать толчок развитию местных производителей стройматериалов.</li>
                    </ul>
                </div>
                <div class="t2">
                    <h1 class="ttilte">Краткое описание проекта</h1>

                    <p>Проект направлен на создание условий для застройщиков осуществлять жилищное строительство в сельской местности и малых городах южной зоны области, в том числе и отдаленных от областного центра.</p>
                    <p>Снижение себестоимости строительства при задействовании местных производителей стройматериалов.</p>
                    <p>Возобновление и создание новых производств стройматериалов в местах наличия природных ресурсов.</p>
                </div>
            </div>
            <div class="users-list">
                <h1 class="users">Участники проекта</h1>
                <div class="usrs">
                    <a href="/users/1" class="user">
                        <h2 class="usr-place-name">Белогорский муниципальный округ</h2>
                    </a>
                    <a href="/users/2" class="user">
                        <h2 class="usr-place-name">Бурейский муниципальный округ</h2>
                    </a>
                    <a href="/users/3" class="user">
                        <h2 class="usr-place-name">Ивановский муниципальный округ</h2>
                    </a>
                    <a href="/users/4" class="user">
                        <h2 class="usr-place-name">Константиновский муниципальный район</h2>
                    </a>
                    <a href="/users/5" class="user">
                        <h2 class="usr-place-name">Благовещенский муниципальный округ</h2>
                    </a>
                    <a href="/users/6" class="user">
                        <h2 class="usr-place-name">Архаринский муниципальный округ</h2>
                    </a>
                    <a href="/users/7" class="user">
                        <h2 class="usr-place-name">Рабочий поселок (пгт) Прогресс</h2>
                    </a>
                    <a href="/users/8" class="user">
                        <h2 class="usr-place-name">Тамбовский муниципальный округ</h2>
                    </a>
                    <a href="/users/9" class="user">
                        <h2 class="usr-place-name">Завитинский муниципальный округ</h2>
                    </a>
                    <a href="/users/10" class="user">
                        <h2 class="usr-place-name">г. Райчихинск</h2>
                    </a>
                </div>
            </div>
        </div>

    </div>

</body>
</html>