<!doctype html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/user-detail.css' %}">
    <title>Document</title>
</head>
<body>
    <div class="container">

        <div class="logo-data">
            <img src="/static/imgs/{{ logo }}" alt="">
            <h1>{{ name }}</h1>
        </div>
        <div class="detail-info">
            <h1>Ресурсы</h1>
            <div class="resources">
                {% for res in resources %}
                    <div class="res">
                        <span class="res-span">{{ res }}</span>
                    </div>
                {% endfor %}
            </div>

            <h1>Мероприятия</h1>
            <div class="resources">
                {% for res in events %}
                    <div class="res">
                        <span class="res-span">{{ res }}</span>
                    </div>
                {% endfor %}
            </div>
        </div>

    </div>
</body>
</html>